body { 

    background-color: black;
    color: antiquewhite;
}

fieldset { border-style: none; }

legend { 

    font-size: 8vmin;
}

input[type="radio"]:checked + label {

   background-color: ivory;
}

#recommendation {

    text-align: center;
    margin-top: 5rem;
}

#give_emojis_back {

    text-align: center;
    color: yellow;
    text-decoration: underline;
}

#back { margin-top: 2rem; }

#heartbox { grid-area: heartbox; }

#party { grid-area: party; }

#smile { grid-area: smile; }

#angry { grid-area: angry; }

#melting { grid-area: melting; }

#yawning { grid-area: yawning; }

#lol { grid-area: lol; }

#pinoccio { grid-area: pinoccio; }

#brokenheart { grid-area: brokenheart; }

#hugging { grid-area: hugging; }

.cool {

  -webkit-appearance: none;
  appearance: none;
  background-color: black;
  margin: 0;
}

.emojis {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "heartbox heartbox heartbox"
        "party smile angry"
        "melting yawning lol"
        "pinoccio brokenheart hugging";
    gap: 0.5em;
}

.emoji {

    text-align: center;
    font-size: 13vmin;
}
