body { 

    background-color: black;
    color: antiquewhite;
}

fieldset { border-style: none; }

label:has(input[type="radio"]:checked) {

    animation-name: emoji-pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

label { display: inline-block; }

legend { 

    font-size: 8vmin;
}

#back { margin-top: 2rem; }

#heartbox { grid-area: heartbox; }

#party { grid-area: party; }

#smile { grid-area: smile; }

#angry { grid-area: angry; }

#melting { grid-area: melting; }

#yawning { grid-area: yawning; }

#lol { grid-area: lol; }

#pinoccio { grid-area: pinoccio; }

#brokenheart { grid-area: brokenheart; }

#hugging { grid-area: hugging; }

.base-dialog {

    text-align: center;
    margin-top: 5rem;
    background-color: lightslategray;
    color: antiquewhite;
    font-weight: bolder;
    font-size: x-large;
}

.emoji-radio {

  -webkit-appearance: none;
  appearance: none;
  background-color: black;
  margin: 0;
}

.emojis {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "heartbox heartbox heartbox"
        "party smile angry"
        "melting yawning lol"
        "pinoccio brokenheart hugging";
    gap: 0.5em;
}

.emoji {

    margin: 0;
    text-align: center;
    font-size: 13vmin;
}

.emosongi-fieldset-legend-loading {

    animation-name: waterfall;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.music-recommendation-text {

    background-image: linear-gradient(mintcream, orange);
    color: transparent;
    background-clip: text;
}

@keyframes emoji-pulse {
  
    0% { transform: scale(1); }
  
    50% { transform: scale(0.5); }

    100% { transform: scale(1); }
}

@keyframes waterfall {

    0% { background-image: linear-gradient(to bottom, aqua, black 0%); }

    10% { background-image: linear-gradient(to bottom, aqua, black 10%); }

    20% { background-image: linear-gradient(to bottom, aqua, black 20%); }

    30% { background-image: linear-gradient(to bottom, aqua, black 30%); }

    40% { background-image: linear-gradient(to bottom, aqua, black 40%); }

    50% { background-image: linear-gradient(to bottom, aqua, black 50%); }

    60% { background-image: linear-gradient(to bottom, aqua, black 60%); }

    70% { background-image: linear-gradient(to bottom, aqua, black 70%); }

    80% { background-image: linear-gradient(to bottom, aqua, black 80%); }

    90% { background-image: linear-gradient(to bottom, aqua, black 90%); }

    100% { background-image: linear-gradient(to bottom, aqua, black 100%); }
}

#recommendation-dialog::backdrop {

    background-image: radial-gradient(circle at 50% 20%, aqua, slategray, darkslategray, black 50%);
}

#error-dialog::backdrop {

    background-image: radial-gradient(circle at 50% 20%, red, darkslategray, crimson, black 50%);
}
