@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body { background-color: black; }

.cool {

  -webkit-appearance: none;
  appearance: none;

  background-color: #000;

  margin: 0;
}

input[type="radio"]:checked + label {
   background-color: ivory;
}

#recommendation {

    text-align: center;
    margin-top: 5rem;
}

#give_emojis_back {

    text-align: center;
    color: yellow;
    text-decoration: underline;
}

#back { margin-top: 2rem; }